:root{
    --white-c: #;
    --light-grey-c: #;
    --grey-c: #;
    --light-orange-c: #;
    --orange-c: #;
    --medium-grey-c: #;
    --dark-grey-c: #;
}

*, html, body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--white-c);
}